fastapi~=0.115.0
uvicorn~=0.30.6
langchain
langchain-openai
openai
python-dotenv~=1.0.1
reportlab~=4.2.2
docx~=0.2.4
matplotlib
beautifulsoup4
htmldocx~=0.0.6
html2image~=2.0.5
xhtml2pdf~=0.2.16
tiktoken~=0.7.0
sse-starlette
cryptography~=43.0.1
pydantic~=2.9.2
pycryptodome==3.20.0
pycryptodomex==3.20.0